.wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 60px;
  padding-top: 110px;
  padding-bottom: 30px;
  background-color: #ffffff;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 545px;
}

.toggleWrapper {
  padding: 0 40px;
  margin-bottom: 40px;
}

.greyCard {
  background-color:#f9f9f9;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.cardWrapper {
  overflow-y: auto;
  padding-right: 10px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0 -40px;
}

.item {
  padding: 14px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#ffffff;
}

.item:nth-child(even) {
  background-color:#f9f9f9;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.operationsTitle {
  font-size: 16px;
  line-height: 20px;
  color: #999999;
  font-weight: normal;
  margin-top: 58px;
  margin-bottom: 14px;
}

.button {
  font-size: 0;
  background: url("./mingle-share.svg") center center no-repeat;
  border: none;
  padding: 0;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
