.wrapper {
  position: relative;
  padding-top: 62px;
  padding-bottom: 48px;
  flex: none;
}

.shadow {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.03);
}

.title {
  font-size: 30px;
  line-height: 1.2;
  color: #333333;
  font-weight: 400;
  margin: 0;
  margin-bottom: 1rem;

}

.form {
  display: flex;
  flex-direction: column;
}

.textArea {
  min-height: 120px;
  box-sizing: border-box;
  resize: vertical;
  font-family: inherit;
  border: solid 1px #dedede;
  border-radius: 4px;
  padding: 1em;
  margin-bottom: 12px;
}

.submitButton {
  align-self: flex-end;
  background-color: #52aff1;
  border-radius: 4px;
  font-family: inherit;
  font-size: 12px;
  color: #ffffff;
  border: none;
  padding: 10px 1em;
}
