.messageWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

.avatarWrapper {
  margin-right: 1em;
}

.currentUserMessage {
  flex-direction: row-reverse;
  text-align: right;
}

.currentUserMessage .avatarWrapper {
  margin-right: 0;
  margin-left: 1em;
}


.message {
  margin: 0;
  padding: 1em;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05);
  font-weight: normal;
  font-size: 1em;
  line-height: 1.4;
  color: #878787;
}

.name {
  font-weight: 500;
  color: #333333;
}
