.toggle {
  display: flex;
}

.button {
  flex-grow: 1;
  padding: 1rem 3rem;
  color: #52aff1;
  background-color: #ffffff;
  border: none;
  font-size: 1.4em;
}

.button:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.button:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.button.active{
  color: #ffffff;
  background-color: #52aff1;
}