.wrapper {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
}

.messageList {
  flex-grow: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  margin-right: -70px;
  padding-right: 60px;
}

.messageList::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #e4e4e4;
}

.messageList::-webkit-scrollbar
{
  width: 9px;
}

.messageList::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #52aff1;
}
