.wrapper {
  padding-left: 100px;
  padding-right: 100px;
}

.messageList {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 60vh;
  overflow-y: auto;
  margin-right: -60px;
  padding-right: 45px;
}

.messageList::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #e4e4e4;
}

.messageList::-webkit-scrollbar
{
  width: 9px;
}

.messageList::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #52aff1;
}
