body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f4;
}

::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #e4e4e4;
}

::-webkit-scrollbar
{
  width: 9px;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #52aff1;
}
